<!-- start sidebar -->
<div id="sideBar" class="relative flex flex-col flex-wrap bg-white border-r border-gray-300 p-6 flex-none w-64 md:-ml-64 md:fixed md:top-0 md:z-30 md:h-screen md:shadow-xl animated faster">
  

  <!-- sidebar content -->
  <div class="flex flex-col">

    <!-- sidebar toggle -->
    <div class="text-right hidden md:block mb-4">
      <button id="sideBarHideBtn">
        <i class="fad fa-times-circle"></i>
      </button>
    </div>
    <!-- end sidebar toggle -->
    <% if user_signed_in? %>
      <p class="uppercase text-xs text-gray-600 mb-4 tracking-wider">HELP</p>

      <!-- link -->
      <%= link_to new_help_post_path, class:"mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" do %>
        <i class="fad fa-chart-pie text-xs mr-2"></i>                
        投稿フォーム
      <% end %>
      <!-- end link -->

      <!-- link -->
      <%= link_to destroy_user_session_path, class:"mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" do %>
        <i class="fad fa-shopping-cart text-xs mr-2"></i>
        ログアウト
      <% end %>
    <% else %>
    <!-- end link -->
    <p class="uppercase text-xs text-gray-600 mb-4 tracking-wider">会員登録</p>
    <!-- link -->
      <%= link_to new_user_registration_path, class:"mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" do %>
        <i class="fad fa-shopping-cart text-xs mr-2"></i>
        新規登録
      <% end %>
    <!-- end link -->
    <!-- link -->
    <%= link_to new_user_session_path, class:"mb-3 capitalize font-medium text-sm hover:text-teal-600 transition ease-in-out duration-500" do %>
      <i class="fad fa-shopping-cart text-xs mr-2"></i>
      ログイン
    <% end %>
    <% end %>
    <!-- end link -->
  </div>
  <!-- end sidebar content -->

</div>
<!-- end sidbar -->